.mainDiv{
    display: flex;
    Flex-direction: column;
    Align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.header{
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.topicsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background-color: #d0253cff;
    border: black;
    border-style: solid;
    padding-bottom: 15px;
}
